* {
  margin: 0;
  padding: 0;
}
.question-box {
  width: 1100px;
  margin: 150px 100px;
  display: flex;
  flex-direction: row;
}
.question-container {
  flex: 1;
}

.question {
  font-size: 30px;
}

.options-list {
  display: block;
  margin: 20px 50px;
}

.timer-display {
  font-size: 30px;
}
.button {
  float: right;
  font-family: Arial, sans-serif;
  outline: 1;
  background: #070707;
  width: 100px;
  padding: 5px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
.button:hover {
  background: rgb(20, 20, 20);
}

@media screen and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
  }
  .question-box {
    width: 320px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
  }
  .question-box :nth-child(1) {
    order: 2;
    margin-top: 10px;
  }
  .question-box :nth-child(2) {
    order: 1;
  }
  .question {
    font-size: 20px;
  }
  .options-list {
    word-wrap: break-word;
  }
}
