.wrapper {
  display: block;
  margin: 200px auto;
  width: fit-content;
  display: block;
  text-decoration: none;
  border: 3px solid #080808;
  color: #070707;
  width: 50vw;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  margin-bottom: 20px;
}
